<%- include('../partials/header') %>

<body>
  <h1>Characters</h1>
  <table id="List">
    <thead>
      <tr>
        <th>Character</th>
        <th>Age</th>
        <th>Power Level</th>
        <th>Weapon</th>
        <th>Add Quote to Character</th>
        <th>Edit Character</th>
        <th>Test</th>
        
      </tr>
    </thead>
    <tbody>
        <% characters.forEach(c => { %> <!-- "characters" comes from controller -->
         <tr>
           <td><%= c.character %></td>
           <td><%= c.age %></td>
           <td><%= c.powerLevel %></td>
           <td><%= c.weapon %></td>
           <% if (user) { %>
           <td><a href="/supers/<%= c._id %>"><img id="batLogo" src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/514wMrxRESL._AC_UF894,1000_QL80_.jpg" alt="Batman-Logo"></a></td>
           <% } %>
           <% if (user) { %>
            <td><a href="/supers/<%= c._id %>/edit"><img id="batLogo" src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/514wMrxRESL._AC_UF894,1000_QL80_.jpg" alt="Batman-Logo"></a></a></td>
            <% } %>
          </tr>
         <% }) %>  
     </tbody>
    
  </table>
</body>
</html>