<%- include('../partials/header') %>


<section id="show-page">
  <div>Character: </div>
  <div><%= character.character %></div>
  <div>Age: </div>
  <div><%= character.age %></div>
  <div>Power Level: </div>
  <div><%= character.powerLevel %></div>
  <div>Weapon: </div>
  <div><%= character.weapon %></div>
</section>
<h2>Quote</h2>
<% if (user) { %>
<form method="POST" action="/supers/<%= character._id %>">
  <label>Quote:</label>
  <input id="quote-background" type="string" name="quotes">
  <input id="quote" type="submit" value="Add Quote">
</form>
<% } else { %>
  <span>Please Login to add a Quote to a Character</span>
  <%} %>

<% if (character.quote.length) { %>
<table>
    <thead>
      <tr>
        <th>Quote</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        <% character.quote.forEach(function(q) { %>
          <tr>
            <td><%= q.quotes %></td>
            <td>
                <form method="POST" action="/supers/<%= character._id %>?_method=DELETE">
                  <input id="quote" type="submit" value="Delete Quote">
                </form>
              <% }) %>
            </td>
          </tr>
      </tbody>
    </table>
  <% } else { %>
    <h5>No Comment...</h5>
  <% } %>